<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.AudioMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo.entity.Audio" >
    <id column="audio_id" property="audioId" jdbcType="INTEGER" />
    <result column="audio_title" property="audioTitle" jdbcType="VARCHAR" />
    <result column="audio_price" property="audioPrice" jdbcType="INTEGER" />
    <result column="audio_img_src" property="audioImgSrc" jdbcType="DOUBLE" />
    <result column="audio_author" property="audioAuthor" jdbcType="VARCHAR" />
    <result column="audio_src" property="audioSrc" jdbcType="VARCHAR" />
    <result column="audio_ominate" property="audioOminate" jdbcType="INTEGER" />
    <result column="audio_date" property="audioDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    audio_id, audio_title, audio_price, audio_img_src, audio_author, audio_src, audio_ominate, 
    audio_date
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.example.demo.entity.AudioExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from audio
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from audio
    where audio_id = #{audioId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from audio
    where audio_id = #{audioId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.demo.entity.AudioExample" >
    delete from audio
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.demo.entity.Audio" >
    insert into audio (audio_id, audio_title, audio_price, 
      audio_img_src, audio_author, audio_src, 
      audio_ominate, audio_date)
    values (#{audioId,jdbcType=INTEGER}, #{audioTitle,jdbcType=VARCHAR}, #{audioPrice,jdbcType=INTEGER}, 
      #{audioImgSrc,jdbcType=DOUBLE}, #{audioAuthor,jdbcType=VARCHAR}, #{audioSrc,jdbcType=VARCHAR}, 
      #{audioOminate,jdbcType=INTEGER}, #{audioDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.entity.Audio" >
    insert into audio
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="audioId != null" >
        audio_id,
      </if>
      <if test="audioTitle != null" >
        audio_title,
      </if>
      <if test="audioPrice != null" >
        audio_price,
      </if>
      <if test="audioImgSrc != null" >
        audio_img_src,
      </if>
      <if test="audioAuthor != null" >
        audio_author,
      </if>
      <if test="audioSrc != null" >
        audio_src,
      </if>
      <if test="audioOminate != null" >
        audio_ominate,
      </if>
      <if test="audioDate != null" >
        audio_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="audioId != null" >
        #{audioId,jdbcType=INTEGER},
      </if>
      <if test="audioTitle != null" >
        #{audioTitle,jdbcType=VARCHAR},
      </if>
      <if test="audioPrice != null" >
        #{audioPrice,jdbcType=INTEGER},
      </if>
      <if test="audioImgSrc != null" >
        #{audioImgSrc,jdbcType=DOUBLE},
      </if>
      <if test="audioAuthor != null" >
        #{audioAuthor,jdbcType=VARCHAR},
      </if>
      <if test="audioSrc != null" >
        #{audioSrc,jdbcType=VARCHAR},
      </if>
      <if test="audioOminate != null" >
        #{audioOminate,jdbcType=INTEGER},
      </if>
      <if test="audioDate != null" >
        #{audioDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.demo.entity.AudioExample" resultType="java.lang.Integer" >
    select count(*) from audio
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update audio
    <set >
      <if test="record.audioId != null" >
        audio_id = #{record.audioId,jdbcType=INTEGER},
      </if>
      <if test="record.audioTitle != null" >
        audio_title = #{record.audioTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.audioPrice != null" >
        audio_price = #{record.audioPrice,jdbcType=INTEGER},
      </if>
      <if test="record.audioImgSrc != null" >
        audio_img_src = #{record.audioImgSrc,jdbcType=DOUBLE},
      </if>
      <if test="record.audioAuthor != null" >
        audio_author = #{record.audioAuthor,jdbcType=VARCHAR},
      </if>
      <if test="record.audioSrc != null" >
        audio_src = #{record.audioSrc,jdbcType=VARCHAR},
      </if>
      <if test="record.audioOminate != null" >
        audio_ominate = #{record.audioOminate,jdbcType=INTEGER},
      </if>
      <if test="record.audioDate != null" >
        audio_date = #{record.audioDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update audio
    set audio_id = #{record.audioId,jdbcType=INTEGER},
      audio_title = #{record.audioTitle,jdbcType=VARCHAR},
      audio_price = #{record.audioPrice,jdbcType=INTEGER},
      audio_img_src = #{record.audioImgSrc,jdbcType=DOUBLE},
      audio_author = #{record.audioAuthor,jdbcType=VARCHAR},
      audio_src = #{record.audioSrc,jdbcType=VARCHAR},
      audio_ominate = #{record.audioOminate,jdbcType=INTEGER},
      audio_date = #{record.audioDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.entity.Audio" >
    update audio
    <set >
      <if test="audioTitle != null" >
        audio_title = #{audioTitle,jdbcType=VARCHAR},
      </if>
      <if test="audioPrice != null" >
        audio_price = #{audioPrice,jdbcType=INTEGER},
      </if>
      <if test="audioImgSrc != null" >
        audio_img_src = #{audioImgSrc,jdbcType=DOUBLE},
      </if>
      <if test="audioAuthor != null" >
        audio_author = #{audioAuthor,jdbcType=VARCHAR},
      </if>
      <if test="audioSrc != null" >
        audio_src = #{audioSrc,jdbcType=VARCHAR},
      </if>
      <if test="audioOminate != null" >
        audio_ominate = #{audioOminate,jdbcType=INTEGER},
      </if>
      <if test="audioDate != null" >
        audio_date = #{audioDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where audio_id = #{audioId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.entity.Audio" >
    update audio
    set audio_title = #{audioTitle,jdbcType=VARCHAR},
      audio_price = #{audioPrice,jdbcType=INTEGER},
      audio_img_src = #{audioImgSrc,jdbcType=DOUBLE},
      audio_author = #{audioAuthor,jdbcType=VARCHAR},
      audio_src = #{audioSrc,jdbcType=VARCHAR},
      audio_ominate = #{audioOminate,jdbcType=INTEGER},
      audio_date = #{audioDate,jdbcType=TIMESTAMP}
    where audio_id = #{audioId,jdbcType=INTEGER}
  </update>
</mapper>