<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.UserandaudioMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo.entity.Userandaudio" >
    <id column="user_audio_id" property="userAudioId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="audio_id" property="audioId" jdbcType="INTEGER" />
    <result column="if_pay" property="ifPay" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    user_audio_id, user_id, audio_id, if_pay
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.example.demo.entity.UserandaudioExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from userandaudio
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from userandaudio
    where user_audio_id = #{userAudioId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from userandaudio
    where user_audio_id = #{userAudioId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.demo.entity.UserandaudioExample" >
    delete from userandaudio
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.demo.entity.Userandaudio" >
    insert into userandaudio (user_audio_id, user_id, audio_id, 
      if_pay)
    values (#{userAudioId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{audioId,jdbcType=INTEGER}, 
      #{ifPay,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.entity.Userandaudio" >
    insert into userandaudio
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userAudioId != null" >
        user_audio_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="audioId != null" >
        audio_id,
      </if>
      <if test="ifPay != null" >
        if_pay,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userAudioId != null" >
        #{userAudioId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="audioId != null" >
        #{audioId,jdbcType=INTEGER},
      </if>
      <if test="ifPay != null" >
        #{ifPay,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.demo.entity.UserandaudioExample" resultType="java.lang.Integer" >
    select count(*) from userandaudio
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update userandaudio
    <set >
      <if test="record.userAudioId != null" >
        user_audio_id = #{record.userAudioId,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.audioId != null" >
        audio_id = #{record.audioId,jdbcType=INTEGER},
      </if>
      <if test="record.ifPay != null" >
        if_pay = #{record.ifPay,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update userandaudio
    set user_audio_id = #{record.userAudioId,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      audio_id = #{record.audioId,jdbcType=INTEGER},
      if_pay = #{record.ifPay,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.entity.Userandaudio" >
    update userandaudio
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="audioId != null" >
        audio_id = #{audioId,jdbcType=INTEGER},
      </if>
      <if test="ifPay != null" >
        if_pay = #{ifPay,jdbcType=INTEGER},
      </if>
    </set>
    where user_audio_id = #{userAudioId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.entity.Userandaudio" >
    update userandaudio
    set user_id = #{userId,jdbcType=INTEGER},
      audio_id = #{audioId,jdbcType=INTEGER},
      if_pay = #{ifPay,jdbcType=INTEGER}
    where user_audio_id = #{userAudioId,jdbcType=INTEGER}
  </update>
</mapper>