<!DOCTYPE html>
<html>
<link rel="stylesheet" href="../static/bootstrap-3.3.7/css/bootstrap.min.css" />
	
	<script src="../static/bootstrap-3.3.7/javascript/jQuery-1.12.4.js"></script>
	<script type="text/javascript" src="../static/bootstrap-3.3.7/dist/js/bootstrap.min.js" ></script>
	
	
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<style>
	.center{
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}
	.a{
		text-align: center;
		display:flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		
	}
	.myIcon{
		height: 50px;
		width: 50px;
		background-color:red ;
		margin-right: 10px;
	}	
		
	</style>
	
	<body>
		<div class="row">
			
			<div class="container-fluid">
			<div class="row">
		<div class="col-lg-12 container-fluid a" style="border-bottom: currentColor; solid;display:flex;"><div class="myIcon"></div><h3 class="center">超级HR后台管理</h3><div></div></div>
		<div style="margin-left:90%;" ><span class="glyphicon glyphicon-user"></span><a href="outlogin">退出登录</a></div>
		</div>
		<!--   =============左边模态框=========================                           -->
	<div class="row">
			<div class="col-md-2" >
				
    	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse"  href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  测评管理
        </a>
      </h4>
    </div>
    
    <div id="collapseOne" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingOne">
    
     <div class="panel-body ">
      	<center><a class="btn btn-default btn-block"  href="showpu" target="myifream">全部测评</a></center>
      	  
      	<center><a class="btn btn-default btn-block">测评添加</a></center>
    
        </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
              视频管理
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
      	<center><a class="btn btn-default btn-block" href="/showAllVedio" target="myifream">全部视频</a></center>
      	<center><a class="btn btn-default btn-block" href="/sendVedio" target="myifream">视频上传</a></center>
      	
        </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
          音频管理
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body" >
      	<center><a class="btn btn-default btn-block"   href="/audios/showAllAudio"  target="myifream">全部音频</a></center>
      	<center><a class="btn btn-default btn-block"   href="/audios/sendAudio" target="myifream" >上传音频</a></center>
<!--       	<center><a class="btn btn-default btn-block">修改目录</a></center> -->
<!--       	<center><a class="btn btn-default btn-block">删除目录</a></center> -->
<!--       	<center><a class="btn btn-default btn-block">查询目录</a></center> -->
        </div>
    </div>
    </div>
    <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingfour">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsefour" aria-expanded="true" aria-controls="collapsefour">
                                  订单管理
        </a>
      </h4>
    </div>
    <div id="collapsefour" class="panel-collapse collapse  " role="tabpanel" aria-labelledby="headingfour">
      <div class="panel-body ">
      	<center><a class="btn btn-default btn-block" href="newshoworders.jsp" target="myifream">显示订单</a></center>
      	<center><a class="btn btn-default btn-block" href="admin/order/orderservlet?op=showorderbypage&currentpage=1&pagesize=4">增加订单</a></center>
      	<center><a class="btn btn-default btn-block">修改订单</a></center>
      	<center><a class="btn btn-default btn-block">删除订单</a></center>
      	<center><a class="btn btn-default btn-block">查询订单</a></center>
        </div>
    </div>
  </div>
    
  </div>
  </div>
  
  
  <!--==================这是右边的主体部分=============-->
		<div class="col-md-10" >
		
		<iframe id="myifream" frameborder="0" name="myifream"  width="100%" height="600px"> 
		
		</iframe>
		
		</div>
		
		
	</body>
</html>
